.container{

    width: 70%;
    margin: 0 auto;

    border: 1px solid white
}

.content {
  display: flex;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
    max-width: 950px;
  width: 100%;
}
.contentBox {
  width: 100%;
  padding: 75px 0;
  margin: 0 auto;
  text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
  padding: 30px 30px;
  /* border: 1px solid white;  */
}

.contentBox h1 {
  max-width: 600px;
  font-size: 1.6em;

}
.contentBox h2 {
  max-width: 640px;
  margin: 1rem auto;
  font-size: 1.2em;
}
.form {
  max-width: 950px;
  padding-top: 0.85rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.form h3 {
  font-size: 1rem;
  max-width: none;
  padding-bottom: 20px;
  font-size: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;

   
}
.details input[type="email"]{
    height: 40px;
    padding: 10px 10px 0;
    width: 100%;
    border-radius: 4px 4px 4px 0;
    outline: none;
    border:none;
    font-size:1.4em;
}
.details button{
    /* font-size: 1rem; */
    min-height: 60px;
    width: 50%;
     background-color: #e21717;
     outline: none;
     border-radius:0  0 0 4px;
    border:none;
    color: white;
}
.details > *{
      margin-bottom: 10px;
  }
@media (min-width: 70em) {
  .details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:70%;
  }
  .contentBox h1 {
  font-size: 3.125rem;

}
.details > *{
      margin-bottom: 20px;
  }
  .details button{
      font-size:1em;
       width: 40%;
  }
  .contentBox h1 {
  max-width: 650px;
  font-size: 3.2em;

}
.contentBox h2 {
 
  font-size: 2em;
}
}
section {
  color: black;
  padding: 70px 80px;
}
