.form {
  display: flex;
  flex-direction: column;
  /* height: 70%; */
  /* border: 1px solid white;  */
  justify-content: space-evenly;
}
.form > * {
  width: 100%;
  margin: 5px 0;

  /* border: 1px solid white;  */
}
.container-signin {
  /* border: 1px solid green;  */
  max-width: 400px;
  width: 100%;
  /* height: 100%; */
  padding: 30px 0;
  margin: auto;
}
.button {
  width: 90%;
  background-color: #e21717;
  color: white;
  letter-spacing: 1.3px;
  outline: none;
  border: none;
  height: 100%;
  cursor: pointer;
  height: 3em;
}
.form input {
  width: 90%;
  margin-bottom: 10px;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 2.5em;
}
.checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
input[type="checkbox"] {
  position: absolute;
  left: -20%;
  top: 0;
}
