.rounded {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  text-align: center;
  border: 2px solid #73ad21;
  border-radius: 25px;
  width: 90%;
  letter-spacing: 1.3px;
  outline: none;
  border: none;
  /* height: 100%; */
  cursor: pointer;
  /* height: 3em; */
  align-items: center;
  margin-left: 5%;
  padding: 5px;
}

.rounde > * {
  margin: 5px 0;
}

/* .img1 {
  height: 100%;
  width: 20%;
} */

.titles {
  text-align: center;
  width: 80%;
  font-size: 1.2rem;
}
