body {
  margin: 0;
  color: #e5e5e5;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100vh;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}